@model List<TestimonialResultDto>
@{
    ViewData["Title"] = "TestimonialList";
    Layout = "_LayoutAdmin";
    int count = 0;
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered">
        <h3>MÜŞTERİ YORUMU LİSTESİ</h3>
        <hr>
        <thead>
            <tr>
                <th></th>
                <th>Ad Soyad</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.TestimonialFullname</td>
                    <td><a class="btn btn-outline-warning" asp-controller="Testimonial" asp-action="TestimonialUpdate" asp-route-id="@item.TestimonialId">Güncelle</a></td>
                    <td><a class="btn btn-outline-danger" asp-controller="Testimonial" asp-action="TestimonialDelete" asp-route-id="@item.TestimonialId">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <div class="alert alert-warning">Kayıt bulunmuyor</div>
}
<a class="btn btn-outline-info" asp-controller="Testimonial" asp-action="TestimonialCreate">Yeni Oluştur</a>