@model AboutCreateDto
@{
    ViewData["Title"] = "AboutCreate";
    Layout = "_LayoutAdmin";
}

<form asp-controller="About" asp-action="AboutCreate" method="post">
    <h3>HAKKIMIZDA EKLE</h3>
    <hr>
    <div class="form-group">
        <label>Başlık</label>
        <input type="text" asp-for="AboutTitle" class="form-control">
        <span asp-validation-for="AboutTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        <input type="text" asp-for="AboutDescription" class="form-control">
        <span asp-validation-for="AboutDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Resim 1</label>
        <input type="text" asp-for="AboutImage1" class="form-control">
        <span asp-validation-for="AboutImage1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Resim 2</label>
        <input type="text" asp-for="AboutImage2" class="form-control">
        <span asp-validation-for="AboutImage2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Resim 3</label>
        <input type="text" asp-for="AboutImage3" class="form-control">
        <span asp-validation-for="AboutImage3" class="text-danger"></span>
    </div>
    <hr>
    <button type="submit" class="btn btn-info">Kaydet</button>
    <a class="btn btn-outline-dark" asp-controller="About" asp-action="AboutList">Geri</a>
</form>