@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Hakk覺m覺zda</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a asp-controller="About" asp-action="Index">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hakk覺m覺zda</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    @await Component.InvokeAsync("About")


    @await Component.InvokeAsync("Banner")


    @await Component.InvokeAsync("Team")